<div class="params">
  <% params %>
</div>

<article>
  <form action="" method="post" accept-charset="utf-8">
    <label for="wordone">Word to Score:</label>
    <input type="text" name="word_hash[wordone]" value="" id="wordone">

  <form action="" method="post" accept-charset="utf-8">
    <label for="wordtwo">Word to Score:</label>
    <input type="text" name="word_hash[wordtwo]" value="" id="wordtwo">

    <form action="" method="post" accept-charset="utf-8">
      <label for="wordthree">Word to Score:</label>
      <input type="text" name="word_hash[wordthree]" value="" id="wordthree">

    <input type="submit" value="Submit">


<% if @wordone %>
    <p>
      <%= @wordone.wordone %> is worth <%= @wordone.scoreone %> points.
    </p>
<% end %>

<% if @wordtwo %>
    <p>
      <%= @wordtwo.wordtwo %> is worth <%= @wordtwo.scoretwo %> points.
    </p>
<% end %>

<% if @wordthree %>
    <p>
      <%= @wordthree.wordthree %> is worth <%= @wordthree.scorethree %> points.
    </p>
<% end %>

  </form>
</article>
